@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }  
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 16px; /* Gap between grid items */
}


.grid-item {
  max-width: 400px; /* Ensure the video takes up the full width of its container */
  max-height: 300px; /* Maintain the aspect ratio of the video */
}

:root {
  --background-color: #333;
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.hostname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 185px;
  display: inline-block;
  padding-top: 18px;
}

.chat-window {
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: black;
}

.message {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.user {
  background-color: #e0f7fa;
  align-self: flex-end;
  max-width: 700px;
}

.bot {
  background-color: #fffee0;
  max-width: 700px;
  align-self: flex-start;
}

form {
  display: flex;
}

input {
  color: black;
  flex: 1;
  margin-right: 10px;  
}

button {
  padding: 5px 10px;
  cursor: pointer;
}